In [83]:
#1 Explain the key features of Python that make it a popular choice for programming
 
    
   
 # Python has gained immense popularity in the programming community due to several key features that make it highly versatile, 
 # efficient, and easy to use.
 # Here are some of the key features of Python that contribute to its popularity:
             
 #(a) Readability and Simplicity:
 # Python emphasizes readability and simplicity of code, which makes it easier to understand and write, even for beginners. 
 # Its syntax is clean and uncluttered, with a clear and consistent structure that reduces the cost of program maintenance.
    
 #(b) Large Standard Library:
 # It comes with a large standard library that provides a wide range of modules and packages for tasks such as string manipulation,
 # web services, and more.
 # This reduces the need for developers to write code from scratch for common tasks and promotes code reuse.
                       
 #(c) Platform Independence:
 # It is platform-independent, meaning you can write code on one platform (like Windows) and run it on another (like Linux)
 # without any changes. 
 # This portability is facilitated by the Python interpreter and the availability of interpreters for most platforms.
               
 #(d) Libraries and Frameworks:
 # It has a rich ecosystem of third-party libraries and frameworks that extend its functionality for specific domains such as
 # web development(Django, Flask), scientific computing (NumPy, SciPy), data analysis (Pandas), machine learning
 # (TensorFlow, PyTorch), and more.
 # These libraries significantly accelerate development by providing pre-written modules for common tasks.
    
 #(e) Community and Support: 
 # It has a large and active community of developers who contribute to its growth and development.
 # This community provides support through forums, user groups, conferences, and online resources, making it easier to find
 # solutions to problems and stay updated with the latest trends.
             
 #(f) Cross-Platform Compatibility:
 # It is available on various platforms, including Windows, macOS, and Linux.
 # This cross-platform compatibility allows developers to write code that can run on different operating systems without
 # modification.
            
            
            
            
            
#2 Describe the role of predefined keywords in Python and provide examples of how they are used in a program
   
    
    
    
    
# ROLE OF PREDEFINED KEYWORDS IN PYTHON :
            
#. Predefined keywords are special words that are reserved by the language for its own.
#. Keywords are reserved words in Python that have special meanings and cannot be used as identifiers (variable names, function names,etc).                                                                                                     
#. They are case-sensitive and cannot be redefined or overridden within a Python program.
#. Examples of keywords include if, else, while, for, def, class, import, try, except, return, True, False, None, etc.
    
# SOME EXAMPLES ARE GIVEN BELOW :

In [80]:
#int,float,string (datatypes):

x = 1
x
type (x)

int

In [17]:
a = ("saumya.")
type(a)

str

In [22]:
x=2.1
y=3
x+y
type (x+y)

float

In [28]:
#boolean and none type:

2==2
print ('true')

true

In [31]:
 10>11
print ('false')

false

In [32]:
x=1
y=2
x>y
print ('none')

none

In [36]:
print ('saumya kesarwani!!')

saumya kesarwani!!

In [37]:
a=6
b=2
a-b

4

In [39]:
str(a)

'6'

In [40]:
float(a-b)

4.0

In [41]:
#for multiply,devide:

p=3
q=2
p*q

6

In [45]:
p=6
q=2
p/q

3.0

In [46]:
int(p/q)

3

In [47]:
str(3)

'3'

In [ ]:
#3 Compare and contrast mutable and immutable objects in Python with examples



# Mutable Objects:
# Mutable objects are objects whose state or contents can be changed after they are created.This means that you can modify
# a mutable object after it has been created without creating a new object. Some examples of mutable objects in Python include
# lists, dictionaries, sets, and byte arrays.

# Hereâ€™s an example of a mutable object :

In [48]:
#example with relate to -indices and +indices:
a='saumya'
a

'saumya'

In [49]:
a[0]

's'

In [50]:
a[5]

'a'

In [63]:
#for changing anything in index element:
list_cont = [1,2,3,4.3,3+5j,"true","saumya"]
list_cont[1]

2

In [65]:
#mutability
list_cont [1]=2.5
list_cont

[1, 2.5, 3, 4.3, (3+5j), 'true', 'saumya']

In [70]:
type(list_cont)

list

In [77]:
# Immutable Objects:
# Immutable objects are objects whose state cannot be modified after they are created. 
# Any operation that appears to modify an immutable object actually creates a new object with the modified value.

# Hereâ€™s an example of a Immutable object :

In [84]:
b="pwskills"
b

'pwskills'

In [85]:
#if we want to change only one letter of the word then it does't change
#immutability
b[1]="n"

TypeError: 'str' object does not support item assignment

In [1]:
#4 Discuss the different types of operators in Python and provide examples of how they are used




# In Python, operators are symbols or keywords that perform operations on variables and values.
# They can be categorized into several types based on their functionality. Here are the main types of operators in Python
# with examples:

#a- Arithmetic Operators:  they are used for mathematical operations like addition, subtraction,
# multiplication, division, etc.
  
#examples:

#addition(+)
a=3
b=2
a+b

5

In [2]:
add=a+b
add

5

In [3]:
#substraction(-)
a=3
b=2
a-b

1

In [4]:
sub=a-b
sub

1

In [5]:
#multiply(*)
a=3
b=2
a*b

6

In [6]:
mul=a*b
mul

6

In [7]:
#division(/)
20/4

5.0

In [8]:
#modulus operator(%) >> for remainder
21%5

1

In [9]:
#exponential(**) >> for power
5**2

25

In [10]:
#floor (//) >> for nearest number
4/3

1.3333333333333333

In [11]:
4//3

1

In [37]:
#b- Comparison Operators:  they are used to compare values , return either True or False.

#example:

a=10
b=3
print(a>b)    #greater than
print(a<b)    #less than
print(a==b)   #equal to
print(a!=b)   #not equal to
print(a>=b)   #greater than or equal to
print(a<=b)   #less than or equal to

True
False
False
True
True
False

In [39]:
#c- Logical Operators:  they are used to combine conditional statements.

#examples:

x=True
y=False
print(x and y)   #logical AND
print(x or y)    #logical OR
print(not x)     #logical NOT

False
True
False

In [62]:
#d- Assingment operators:  they are used to assign values to variables.

#examples:

a = 6 
print (a)
a+=6
print(a)

b = 2
b-=2
print(b)

c=8
c/=8
print(c)

d=10
d*=8
print(d)

6
12
0
1.0
80

In [52]:
#e- Bitwise operators:   it perform operations on bits and binary numbers.

#examples:

a=5   #binary 0101
b=3   #binary 0011

print(a & b)    #bitwise AND
print(a | b)    #bitwise OR
print(a ^ b)    #bitwise XOR
print(~a)       #bitwise NOT
print(a << 2)   #bitwise LEFT SHIFT
print(a >> 2)   #bitwise RIGHT SHIFT

1
7
6
-6
20
1

In [51]:
#f- Membership operators:  when we want to know is any member present in (string, lists or tuples) : True/False.
  

#examples:

a = "saumya"
print("s" in a )         #True: as "s" is in "saumya"
print("k" not in a )     #True: as "k" is not in "saumya"
print("m" not in a )     #False: as "m" is in "saumya"

True
True
False

In [12]:
#g- Identity operators:  compares the location of two object/variables: True/False.

#examples:

a=2
b=3
a is b

False

In [13]:
a is not b

True

In [14]:
a=2
b=a
a is b

True

In [15]:
#5 Explain the concept of type casting in Python with examples


#In Python, type casting (or type conversion) refers to the process of converting one data type into another.
#Python provides several built-in functions for this purpose.
#Here's an explanation with examples:


#a- Implicit Type Conversion:   Python automatically converts data types in certain situations, such as when performing
#operations between different types.

 # from int to float:
    
a=5         #int
b=2.5       #float
c=a+b       #int is converted to float before addition
print(c)    #output: 7.5


#b- Explicit Type Conversion:  convert the datatype by using inbuilt function(str,int,float,bool)
 #example:
#concatination of str:  combine the string.
"Saumya"+"_Kesarwani"

7.5

'Saumya_Kesarwani'

In [16]:
#bool: (True/False)
bool(1)

True

In [17]:
bool(0)

False

In [19]:
type(1)

int

In [20]:
#to convert into float
float(1)

1.0

In [22]:
#character does't convert into number:  output: error
a = "saumya"
int(a)

ValueError: invalid literal for int() with base 10: 'saumya'

In [7]:
bool ("") #empty string : False

False

In [8]:
#6- How do conditional statements work in Python? Illustrate with examples


# Conditional statements in Python allow to make decisions in code based on whether certain conditions are true or false.
# The primary conditional statements in Python are "if", "if-else" , "if-elif-else", "nested if-else".

#here's the examples:

#example no. 1 -"if" :
#syntax
#if condition True : block of code will be executed
a=100
if a>0:
    print(" The no. is greater than 0")

 The no. is greater than 0

In [12]:
b= "saumya"
if b!= "kesarwani":
    print (" saumya is in the b")

 saumya is in the b

In [24]:
#example no. 2 - "if-else" : 

num=4
if num % 2 == 0 :
    print ("Even")
else:
    print ("odd")

Even

In [25]:
weather=("rainy")
if weather ==("sunny"):
    print ("I will go")
else:
    print ("I will not go")

I will not go

In [33]:
 #example no.3 - "if-elif-else" :

a=10
if a>100:
    print (" a>100 ")
elif a<100:
    print (" a<100 ")
else:
    print (" num=100 ")

 a<100

In [34]:
#example no. 4 - "nested if-else" :

x=1
y=6
if x>5 :
    if y>5 :
        print (" both x & y is > 5")
    else :
        print (" x is >5 but y is <5")
else :
    print (" x !=>5")

 x !=>5

In [35]:
#7- Describe the different types of loops in Python and their use cases with examples



#In Python, there are mainly three types of loops: for loop, while loop, and nested loops. 
#Each type serves different purposes and is used depending on the specific requirements of the task at hand.

#1. for loop :
#The for loop in Python iterates over a sequence (such as a list, tuple, string, or other iterable objects) and
#executes the block of code for each element in the sequence.
#Syntax:
#for element in sequence:
# code block to be executed for each element

#example:
# Iterate over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [36]:
# Iterate over a string
for char in "hello":
    print(char)

h
e
l
l
o

In [63]:
#2.while loop :
#The while loop in Python repeatedly executes a block of statements as long as a condition is true.
#Syntax:
#while condition:code block to be executed as long as condition is true
#Example:
# Print numbers from 1 to 5 using while loop
num = 1
while num <= 5:
    print(num)
    num += 1

1
2
3
4
5

In [64]:
#3. Nested loop :
#Python allows nesting of loops within one another. This means you can have a loop inside another loop.
#Example:
for i in range(1, 4):
    for j in range(1, 4):
        print(f"({i}, {j})")

(1, 1)
(1, 2)
(1, 3)
(2, 1)
(2, 2)
(2, 3)
(3, 1)
(3, 2)
(3, 3)

In [65]:
#Example combining loops: Multiplication table using nested loops
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} * {j} = {i * j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100